<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.NumberCuccMapper">
    
    <resultMap type="NumberCucc" id="NumberCuccResult">
        <result property="custId"    column="custId"    />
        <result property="productType"    column="productType"    />
        <result property="provinceCode"    column="provinceCode"    />
        <result property="cityCode"    column="cityCode"    />
        <result property="phoneNum"    column="phoneNum"    />
        <result property="occupiedFlag"    column="occupiedFlag"    />
        <result property="occupiedTimeTag"    column="occupiedTimeTag"    />
        <result property="certNum"    column="certNum"    />
    </resultMap>

    <sql id="selectNumberCuccVo">
        select custId, productType, provinceCode, cityCode, phoneNum, occupiedFlag, occupiedTimeTag, certNum from number_cucc
    </sql>

    <select id="selectNumberCuccList" parameterType="NumberCucc" resultMap="NumberCuccResult">
        <include refid="selectNumberCuccVo"/>
        <where>  
            <if test="productType != null  and productType != ''"> and productType = #{productType}</if>
            <if test="provinceCode != null  and provinceCode != ''"> and provinceCode = #{provinceCode}</if>
            <if test="cityCode != null  and cityCode != ''"> and cityCode = #{cityCode}</if>
            <if test="phoneNum != null  and phoneNum != ''"> and phoneNum = #{phoneNum}</if>
            <if test="occupiedFlag != null  and occupiedFlag != ''"> and occupiedFlag = #{occupiedFlag}</if>
            <if test="occupiedTimeTag != null  and occupiedTimeTag != ''"> and occupiedTimeTag = #{occupiedTimeTag}</if>
            <if test="certNum != null  and certNum != ''"> and certNum = #{certNum}</if>
        </where>
    </select>
    
    <select id="selectNumberCuccById" parameterType="String" resultMap="NumberCuccResult">
        <include refid="selectNumberCuccVo"/>
        where custId = #{custId}
    </select>
        
    <insert id="insertNumberCucc" parameterType="NumberCucc">
        insert into number_cucc
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="custId != null  and custId != ''">custId,</if>
            <if test="productType != null  and productType != ''">productType,</if>
            <if test="provinceCode != null  and provinceCode != ''">provinceCode,</if>
            <if test="cityCode != null  and cityCode != ''">cityCode,</if>
            <if test="phoneNum != null  and phoneNum != ''">phoneNum,</if>
            <if test="occupiedFlag != null  and occupiedFlag != ''">occupiedFlag,</if>
            <if test="occupiedTimeTag != null  and occupiedTimeTag != ''">occupiedTimeTag,</if>
            <if test="certNum != null  and certNum != ''">certNum,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="custId != null  and custId != ''">#{custId},</if>
            <if test="productType != null  and productType != ''">#{productType},</if>
            <if test="provinceCode != null  and provinceCode != ''">#{provinceCode},</if>
            <if test="cityCode != null  and cityCode != ''">#{cityCode},</if>
            <if test="phoneNum != null  and phoneNum != ''">#{phoneNum},</if>
            <if test="occupiedFlag != null  and occupiedFlag != ''">#{occupiedFlag},</if>
            <if test="occupiedTimeTag != null  and occupiedTimeTag != ''">#{occupiedTimeTag},</if>
            <if test="certNum != null  and certNum != ''">#{certNum},</if>
         </trim>
    </insert>

    <update id="updateNumberCucc" parameterType="NumberCucc">
        update number_cucc
        <trim prefix="SET" suffixOverrides=",">
            <if test="productType != null  and productType != ''">productType = #{productType},</if>
            <if test="provinceCode != null  and provinceCode != ''">provinceCode = #{provinceCode},</if>
            <if test="cityCode != null  and cityCode != ''">cityCode = #{cityCode},</if>
            <if test="phoneNum != null  and phoneNum != ''">phoneNum = #{phoneNum},</if>
            <if test="occupiedFlag != null  and occupiedFlag != ''">occupiedFlag = #{occupiedFlag},</if>
            <if test="occupiedTimeTag != null  and occupiedTimeTag != ''">occupiedTimeTag = #{occupiedTimeTag},</if>
            <if test="certNum != null  and certNum != ''">certNum = #{certNum},</if>
        </trim>
        where custId = #{custId}
    </update>

    <delete id="deleteNumberCuccById" parameterType="String">
        delete from number_cucc where custId = #{custId}
    </delete>

    <delete id="deleteNumberCuccByIds" parameterType="String">
        delete from number_cucc where custId in 
        <foreach item="custId" collection="array" open="(" separator="," close=")">
            #{custId}
        </foreach>
    </delete>
    
</mapper>