<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('订单物流列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <!--<li>
                                <p>订单id：</p>
                                <input type="text" name="orderId"/>
                            </li>
                            <li>
                                <p>业务类型：</p>
                                <select name="orderType" th:with="type=${@dict.getType('')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <p>订单大类型：</p>
                                <select name="orderBigType" th:with="type=${@dict.getType('')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <p>订单状态：</p>
                                <select name="orderStatus">
                                    <option value="">所有</option>
                                </select>
                            </li>
                            <li>
                                <p>工号：</p>
                                <input type="text" name="operatorId"/>
                            </li>
                            <li>
                                <p>渠道类型：</p>
                                <input type="text" name="chnlCode"/>
                            </li>
                            <li>
                                <p>下单渠道：</p>
                                <input type="text" name="wayId"/>
                            </li>
                            <li>
                                <p>下单地市名词：</p>
                                <input type="text" name="areaName"/>
                            </li>
                            <li>
                                <p>下单地市编码：</p>
                                <input type="text" name="areaCode"/>
                            </li>
                            <li>
                                <p>结束时间：</p>
                                <input type="text" name="finishTime"/>
                            </li>-->
                            <li>
                                <p>用户姓名：</p>
                                <input type="text" name="username"/>
                            </li>
                            <li>
                                <p>手机号码：</p>
                                <input type="text" name="servnumber"/>
                            </li>
                            <!--<li>-->
                                <!--<p>订单备注：</p>-->
                                <!--<input type="text" name="orderRemark"/>-->
                            <!--</li>-->
                            <li>
                                <p>物流单号：</p>
                                <input type="text" name="expressno"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

           <!-- <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:logistics:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="system:logistics:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:logistics:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:logistics:export">
                    <i class="fa fa-download"></i> 导出
                 </a>
            </div>-->
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:logistics:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:logistics:remove')}]];
        var prefix = ctx + "system/logistics";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "订单物流",
                columns: [{
                    checkbox: true
                },
                {
                    field : 'fdId', 
                    title : '主键',
                    visible: false
                },
                // {
                //     field : 'orderId',
                //     title : '订单id'
                // },
                // {
                //     field : 'orderType',
                //     title : '业务类型'
                // },
                // {
                //     field : 'orderBigType',
                //     title : '订单大类型'
                // },
                {
                    field : 'orderStatus', 
                    title : '订单状态'
                },
                // {
                //     field : 'operatorId',
                //     title : '工号'
                // },
                // {
                //     field : 'chnlCode',
                //     title : '渠道类型'
                // },
                // {
                //     field : 'wayId',
                //     title : '下单渠道'
                // },
                // {
                //     field : 'areaName',
                //     title : '下单地市名词'
                // },
                // {
                //     field : 'areaCode',
                //     title : '下单地市编码'
                // },
                {
                    field : 'createTime',
                    title : '下单时间'
                },
                {
                    field : 'username', 
                    title : '用户姓名'
                },
                {
                    field : 'servnumber', 
                    title : '手机号码'
                },
                {
                    field : 'orderRemark', 
                    title : '订单备注'
                },
                {
                    field : 'expressno', 
                    title : '物流单号'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-warning btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="logisticsDetail(\''+ row.orderId +'\')"><i class="fa fa-search"></i>物流详情</a> ');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });



        function logisticsDetail(orderId){
            $.modal.open('订单物流详情',prefix + '/logisticsDetail/' + orderId );
        }
    </script>
</body>
</html>