<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('添加联通订单')" />
	<th:block th:include="include :: select2-css" />
	<style>
		.red{
			color: red;
		}
	</style>
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-orderCucc-edit" th:object="${orderCucc}">
            <input id="fdId" name="fdId" th:field="*{fdId}"  type="hidden">
			<div class="form-group">	
				<label class="col-sm-3 control-label is-required">产品编号：</label>
				<div class="col-sm-8">
					<input id="productType" name="productType" th:field="*{productType}" class="form-control" type="text" required>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label is-required">号码归属地区：</label>
				<div class="col-sm-4">
					<select name="provinceCode" id="provinceCode"  level="0" type="0" class="form-control" required onchange="selectChange(this,0,'cityCode')"></select>
				</div>
				<div class="col-sm-4">
					<select name="cityCode" id="cityCode" level="1" th:field="*{cityCode}" class="form-control" required></select>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label is-required">所选号码：</label>
				<div class="col-sm-8">
					<input id="phoneNum" name="phoneNum" th:field="*{phoneNum}" class="form-control" type="text" required>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label is-required">姓名：</label>
				<div class="col-sm-8">
					<input id="certName" name="certName" th:field="*{certName}" class="form-control" type="text" required>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label is-required">身份证号：</label>
				<div class="col-sm-8">
					<input id="certNo" name="certNo" th:field="*{certNo}" class="form-control" type="text" required>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label"><span class="red">*</span>联系号码：</label>
				<div class="col-sm-8">
					<input id="contactNum" name="contactNum" th:field="*{contactNum}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label is-required">占号资源id：</label>
				<div class="col-sm-8">
					<input id="custId" name="custId" th:field="*{custId}" class="form-control" type="text" required>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label is-required">收货地区：</label>
				<div class="col-sm-3">
					<select name="postProvinceCode" id="postProvinceCode" level="0" class="form-control" required onchange="selectChange(this,0,'postCityCode','2')"></select>
				</div>
				<div class="col-sm-3">
					<select name="postCityCode" id="postCityCode" level="1"  class="form-control" onchange="selectChange(this,1,'postDistrictCode','2')"></select>
				</div>
				<div class="col-sm-3">
					<select name="postDistrictCode" id="postDistrictCode" level="2"  class="form-control"></select>
				</div>
			</div>

			<div class="form-group">	
				<label class="col-sm-3 control-label is-required">详细收货地址：</label>
				<div class="col-sm-8">
					<input id="address" name="address" th:field="*{address}" class="form-control" type="text" required>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label is-required">订单状态：</label>
				<div class="col-sm-8">
					<select th:field="*{status}" name="status" id="status" level="2" class="form-control" required>
						<option value="0" th:selected="*{status == '0'}">未下单</option>
						<option value="1" th:selected="*{status == '1'}">下单成功</option>
						<option value="2" th:selected="*{status == '2'}">	下单失败</option>
						<option value="3" th:selected="*{status == '3'}">激活成功</option>
						<option value="4" th:selected="*{status == '4'}">订单拒收</option>
					</select>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">备注：</label>
				<div class="col-sm-8">
					<input id="remark" name="remark" th:field="*{remark}" class="form-control" type="text">
				</div>
			</div>
		</form>
    </div>
	<th:block th:include="include :: footer" />
	<th:block th:include="include :: select2-js" />
	<script th:src="@{/ajax/libs/picker/city.js}"></script>
    <script type="text/javascript" th:inline="javascript">
		var prefix = ctx + "system/orderCucc";
		var orderCucc = [[${orderCucc}]];
		var idxs1 = [0,0,0],idxs2 = [0,0,0];
		$(function(){
            selectInit('#provinceCode');
            selectInit('#postProvinceCode',2);
		});

		function selectInit(obj,second){
		    var h = '';
            $.each(city,function(i,item){
                var isSelect = '';
                if(orderCucc[obj.substr(1)] == item.code ){
                    (second == 2)?idxs2[0] = i:idxs1[0] = i;
                    isSelect = 'selected';
                }
                h += '<option value="'+item.code+'" idx="'+i+'" '+isSelect+'>'+item.name+'</option>'
            });
            $(obj).html(h);
            $(obj).change();
		}
		function selectChange(obj,level,nextObj,second){
            var h = '';
            var idx = $(obj).find('option:selected').attr('idx');
			(second == 2)?idxs2[level] = idx:idxs1[level] = idx;
            $.each(getCityData(level+1,second),function(i,item){
				var isSelect = '';
				if(orderCucc[nextObj] == item.code ){
                    (second == 2)?idxs2[level+1] = i:idxs1[level+1] = i;
                    isSelect = 'selected';
				}
				h += '<option value="'+item.code+'" idx="'+i+'" '+isSelect+'>'+item.name+'</option>'

			});
            $('#'+nextObj).html(h);
            $('#'+nextObj).change();
            address();
		}

		function getCityData(level,second){
            var cityData = [];
            var indexs = idxs1;
            if(second==2) indexs = idxs2;
            switch (level) {
                case 0:
                    cityData = city;
                    break;
				case 1:
                    cityData = city[indexs[0]].hasOwnProperty('sub')?city[indexs[0]].sub:[];
                    break;
				case 2:
                    cityData = (city[indexs[0]].hasOwnProperty('sub')&&city[indexs[0]].sub[indexs[1]].hasOwnProperty('sub'))?city[indexs[0]].sub[indexs[1]].sub:[];
            		break;
            }
            return cityData;
		}

		function address(){
            var a1 = $('#postProvinceCode').find('option:selected').text();
            var a2 = $('#postCityCode').find('option:selected').text();
            var a3 = $('#postDistrictCode').find('option:selected').text();
            var address = $('#address').val();
            $('#address').val(address.replace(a1,'').replace(a2,'').replace(a3,''));
            return a1 + a2 + a3;

        }
		function submitHandler() {
	        if ($.validate.form()) {
                $('#address').val(address()+$('#address').val())
	            $.operate.save(prefix + "/edit", $('#form-orderCucc-edit').serialize());
	        }
	    }
	</script>
</body>
</html>
